$color-body: #E7F6FF;
$color-text-primary: #000000;
$color-text-second: #9D9D9D;
$line-header: #EAEAEA;
$bg-color-primary: #FFFFFF;
$bg-card: #F3F3F3;
$color-price: #BDBDBD;
$btn-add: #F2F2F2;
$hover-card: #F8F8F8;
$bg-btn-order: #9DD558;