$color-body: #e7f6ff;
$color-text-primary: #000000;
$color-text-second: #9d9d9d;
$line-header: #eaeaea;
$bg-color-primary: #ffffff;
$bg-card: #f3f3f3;
$color-price: #bdbdbd;
$btn-add: #f2f2f2;
$hover-card: #f8f8f8;
$bg-btn-order: #9dd558;
