.main {
  padding: 40px 60px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;

  color: $color-text-primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-block {
  position: relative;
  display: flex;
  border: 1px solid $bg-card;
  border-radius: 10px;
  padding: 0 15px;
}

.search__img--remove {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 0;
}

.search {
  width: 200px;
  border: none;
  padding: 13px;
  font-size: 16px;
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.gallery__item {
  position: relative;
  width: calc((100% - 160px) / 4);
  margin-right: 40px;
  margin-bottom: 40px;
  background: $bg-color-primary;
  border: 1px solid $bg-card;
  border-radius: 40px;
  transform: box-shadow 0.3s ease-in-out, transform 0, 2s ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid $hover-card;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  img {
    cursor: pointer;
  }
}
.gallery__item:nth-child(4n + 4) {
  margin-right: 0px;
}
.gallery__item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.card {
  padding: 20px 30px;
}

.btn-favorite {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 3;
}

.gallery__title {
  width: 150px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  color: $color-text-primary;
}
.card-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price__text {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.1;
  text-transform: uppercase;

  color: $color-price;
}
.price_total {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  color: #000000;
}
.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: $bg-color-primary;
  border: 1px solid $btn-add;
  border-radius: 8px;
  cursor: pointer;
}
